@media (max-width:1024px) and (min-width:769px){

    .container-fluid{
        padding: 0 26px !important;
        width: 100% !important;
    }
    .h1{
        font-size: 48px !important;
        width: 482px !important;
    }
    .book-btn{
        padding: 9px 23px 9px 23px !important;
    }
    .test-h3{
        font-size: 24px !important;
    }
    .stl{
        background-color: #f3f4ec !important;
    }
    .img-2{
        width: 265px !important;
    }
}
@media (max-width:768px) and (min-width:427px){
    .container-fluid{
        padding: 0 24px !important;
    }
    .about-content{
        margin-left: 0px !important;
    }
    .time-block{
        justify-content: start !important;
    }
}
@media (max-width:426px) and (min-width:377px){
    .container-fluid{
        padding: 0 24px !important;
    }
    .time-block{
        justify-content: start !important;
    }
}
@media (max-width:376px) and (min-width:322px){
    .container-fluid{
        padding: 0 24px !important;
    }    
    .time-block{
        justify-content: start !important;
    }
}
@media screen and (max-width:321px){
    .container-fluid{
        padding: 0 24px !important;
    }     
    .time-block{
        justify-content: start !important;
    }
}

